window {
  background: #131c26;
  color: white;
  font-family: Monaco, monospace;
  font-weight: lighter;
}

#object-inspector > tree {
  background: #131c26;
  color: #8fa1b2;
  font-family: Monaco, monospace;
  font-weight: lighter;
  font-size: 12px;
}

#editors-container {
  padding: 5px;
  overflow-y: auto;
}

#prompt {
  color: #8fa1b2;
  width: 12px;
  min-width: 12px;
  max-width: 12px;
}

#input-container {
  border-left: 1px dotted transparent;
  margin-left: -1px;
}

#input-container.multiline {
  border-color: white;
}

#input-container.multiline > #prompt {
  visibility: hidden;
}

#input-container.chrome > #prompt {
  color: #F06;
}

#input-container.chrome.multiline {
  border-color: #F06;
}

#output-container {
  margin-left: 12px;
}

#completion-candidates {
  margin-left: 15px;
  color: #7a8a99;
  font-size: 12px;
}

#object-inspector > tree {
  border: 0;
  -moz-appearance: none;
  margin-left: 0;
  margin-right: 0;
}


#object-inspector > tree > treechildren,
#object-inspector > tree > treechildren::-moz-tree-row {
  background: #131c26; /* Background of the editor */
}

#object-inspector > tree > treechildren::-moz-tree-row(odd) {
  background-color: #0E151D;
}

#object-inspector > tree > treechildren::-moz-tree-row(selected) {
  background-color: #26384E;
  color: white;
}
