window {
  background: #131c26;
  color: #8fa1b2;
  font-family: monospace;
}

#editors-container {
  padding: 5px;
}

#prompt {
  width: 10px;
  min-width: 10px;
  max-width: 10px;
}

#output-container {
  margin-left: 10px;
}

#completion-candidates {
  margin-left: 15px;
}

#object-tree {
  font-family: monospace;
  background: #131c26;
  color: #8fa1b2;
  border: 0;
  -moz-appearance: none;
  margin-left: 0;
}


#object-tree > treechildren,
#object-tree > treechildren::-moz-tree-row {
  background: #131c26; /* Background of the editor */
}

#object-tree > treechildren::-moz-tree-row(odd) {
  background-color: #0E151D;
}

#object-tree > treechildren::-moz-tree-row(selected) {
  background-color: #26384E;
  color: white;
}
