/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

#viewDiv {
  padding-top: 0;
  padding-bottom: 0;
}

.viewContainer {
  font-family: Monaco, monospace;
  font-weight: lighter;
}

.view {
  color: #FFF; /* Default text color */
  padding-left: 4px;
}

.ruler {
  color: #7a8a99;
}
.ruler.jsterminput {
  width: 15px;
  padding-left: 4px;
}
.ruler.lines {
  border-right: 1px solid #303b47;
  min-width: 1.4em;
  padding-left: 4px;
  padding-right: 4px;
  text-align: end;
}

.ruler.linesWithAnnotations {
  min-width: 0;
  padding-left: 0;
}

.ruler.overview {
  border-left: 1px solid #303b47;
  width: 14px;
  text-align: start;
}

.annotationLine.object > span:first-of-type {
  text-decoration: underline;
  cursor: pointer;
}

.token_doc_comment,
.token_singleline_comment,
.token_multiline_comment {
  color: #5c6773;
}

.token_string {
  color: #3689b2;
}

.token_keyword {
  color: #a673bf;
  color: #F06;
}

.invalid {
  color: red;
}

